---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="hero">
        <h1>Reed's Notes</h1>
        <p>
          A public notebook for thoughts on personal life, grad school,
          cognition, control, neuroscience, and whatever else I’m working 
through.
        </p> <p>
          This is meant to exist as a working diary of who I am as a 
person and scientist. I have doubts that anyone will find this, but if you 
do, I hope I have posted something useful (or interesting) to you by that 
point. Hopefully, I can learn something through the process of journaling.
        </p> <a href="/blog/">Read entries →</a>
      </section>
    </main> <Footer />
  </body> </html>

<style>
  .hero {
    max-width: 760px;
    margin: 6rem auto;
    padding: 2rem;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }

  a {
    font-size: 1.2rem;
  }
</style>
